<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Signup{% endblock %}

{% block css %}
<style>
    .sign_up{
        border:2px solid green;
        width:500px;
        padding:10px;
    }
    .button{
        width:300px;
        margin-bottom:10px;
    }
</style>
{% endblock %}

{% block content %}
<center>
<div class="sign_up">
<form method="POST">
    {{form|crispy}}
    {% csrf_token %}
    <button type="submit" class="btn btn-success btn-sm button">Submit</button>
</form>
</div>
<p>Already have an account?&nbsp;<a href="{% url 'login_app:login' %}">Login</a>&nbsp;here</p>
</center>


{% endblock %}