<!DOCTYPE html>
{% extends 'nav.html' %}
{% load crispy_forms_tags %}
{% block title %}Home page{% endblock %}
{% block css %}
<style>
    .cover{
        width:200px;
        height:200px;
        overflow:hidden;

    }
        .cover img{
        width:300px;
        height:150px;
        margin-left:5px;
    }
</style>
{% endblock %}
{% block navcontent %}
{% if search %}
{% for users in result %}
<div class="row">
    <div class="col-sm-2">
    {% if users.user_profile.profilepic %}
        <a href="{% url 'login_app:authors' username=users.username %}"><img class="rounded-circle" src="/media/{{ users.user_profile.profilepic}}" width="40px" height="45px"
                    style="margin-top: 20px; position: relative; margin-left: 10px;"></a>
    {% else %}
        <a href="{% url 'login_app:authors' username=users.username %}"><img src="/media/profile_pic/default7.jpg" width="40px" height="45px" class="rounded-circle"
                    style="margin-top: 20px; position: relative; margin-left:10px;"></a>
    {% endif %}
    </div>
    <div class="col-sm-10">
        <a href="{% url 'login_app:authors' username=users.username %}">{{users.username}}</a><br>
        {{users.user_profile.full_name}}
    </div>
</div>
{% endfor %}
{% else %}
<div class="row" style="margin-top:10px;">
    {% for userposts in userpost %}
         <div class="col-sm-4 cover">
                    <img src="/media/{{userposts.image}}"><br>&nbsp;
                    <a href="{% url 'post_app:likes' pk=userposts.id %}"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                &nbsp;{{userposts.liked_post.count}}&ensp;&ensp;&ensp;&ensp;
                    <a href="{% url 'post_app:dislikes' pk=userposts.id %}"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                &nbsp;{{userposts.disliked_post.count}}&emsp;&emsp;
             <p style="margin-left:5px;">{{userposts.caption}}&ensp;<a style="color:black;" href="{% url 'login_app:profile' %}">@{{userposts.author}}</a></p>
         </div>
    {% endfor %}
    {% for posts in postlist %}
            <div class="col-sm-4 cover">
                    <img src="/media/{{posts.image}}"><br>&nbsp;
                    <a href="{% url 'post_app:likes' pk=posts.id %}"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                &nbsp;{{posts.liked_post.count}}&ensp;&ensp;&ensp;&ensp;
                    <a href="{% url 'post_app:dislikes' pk=posts.id %}"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                &nbsp;{{posts.disliked_post.count}}&emsp;&emsp;
                <p style="margin-left:5px;">{{posts.caption}}&ensp;<a style="color:black;" href="{% url 'login_app:authors' username=posts.author %}">
                    @{{posts.author}}</a></p>
            </div>
    {% endfor %}

</div>
{% endif %}
{% endblock %}