<!DOCTYPE html>
{% extends 'nav.html' %}
{% load crispy_forms_tags %}
{% block title %}Profile{% endblock %}
{% block css %}
<style>
    .cover{
        width:200px;
        height:200px;
        overflow:hidden;

    }
        .cover img{
        width:300px;
        height:150px;
        margin-left:5px;
    }
</style>
{% endblock %}
{% block navcontent %}
<center>
<div  class="row container" style="margin-top:5px;">
    <div class="col-sm-12">
        {% if user.user_profile.coverpic %}
        <img src="/media/{{user.user_profile.coverpic}}" width="1000px" height="200px">
        {% else %}
        <img src="/media/coverpics/default-cover.jpg" width="1000px" height="200px">
        {% endif %}
    </div>
</div>
</center>
<center>
<div class="row container" style="margin-top:-80px;">
    <div class="col-sm-12">
        {% if user.user_profile.profilepic %}
        <img src="/media/{{user.user_profile.profilepic}}" class="rounded-circle" width="200px;" style="margin-top:30px;">
        {% else %}
        <img src="/media/profile_pic/default7.jpg" class="rounded-circle" width="200px;" style="margin-top:;">
        {% endif %}
    </div>
</div>
</center>
<div class="row container" style=" margin-left: 24px; margin-top: 15px; ">
    <div class="col-sm-6">
        <h3>{{user.username}}&ensp;<a class="btn btn-warning btn-sm" href="{% url 'login_app:edit_profile' %}">Edit Profile</a></h3>
        <h4>Full Name:&nbsp;{{user.user_profile.full_name}}</h4>
        <p>{{user.user_profile.description}}</p>
        <h4>Website:&ensp;{{user.user_profile.website}}</h4>
        <h4>Facebook:&ensp;{{user.user_profile.facebook}}</h4>
        <h4>Posts:&ensp;{{user.post.count}} Followers:&ensp;{{user.followings.count}} Following:&ensp;{{user.followers.count}}</h4>
    </div>
</div>
<hr>
<div class="row">
    {% for post in user.post.all %}
    <div class="col-sm-4 cover">

            <img src="/media/{{post.image}}"><br>&nbsp;
            Likes:&nbsp;{{post.liked_post.count}}&ensp;Dislikes:&nbsp;{{post.disliked_post.count}}
            <p style="margin-left:5px;">{{post.caption}}</p>

    </div>
    {% endfor %}

</div>

{% endblock %}