<!DOCTYPE html>
{% load static %}
<html>
<head>
 <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<style>
    .w3-lobster {
  font-family: "Lobster", serif;
}
</style>

</head>
<title>{% block title %}Social Media{% endblock %}</title>
{% block css %}

{% endblock %}
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
  <li class="nav-item active">
    <a class="navbar-brand" href="{% url 'post_app:index' %}"><img src="/static/icons/icon2.webp" width="55px" height="60px"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'post_app:index' %}"> <h4 class="w3-lobster" style="font-size:29px;color:#15c4e0; margin-top: 15px; margin-left: -15px;">Paradox</h4></a>
  </li>
  <li class="nav-item">

  </li>

  <li class="nav-item" style=" margin-top: 25px; position: relative; margin-left: 10px; font-size: 21px; font-weight: bold">
      <div class="btn-group" style="margin-top: -7px;">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
        {{user}}
      </button>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
            <button class="dropdown-item" type="button"><a href="{% url 'login_app:profile' %}" style="color:black;">Profile</a></button>
            <button class="dropdown-item" type="button"><a href="{% url 'login_app:edit_profile' %}" style="color:black;">Edit Profile</a></button>
            <button class="dropdown-item" type="button"><a href="{% url 'post_app:createpost' %}" style="color:black;">Create Post</a></button>
            <button class="dropdown-item" type="button"><a href="{% url 'login_app:logout' %}" style="color:black;">Logout</a></button>
          </div>
      </div>
  </li>
  <li>
   {% if user.user_profile.profilepic %}
   <a href="{% url 'login_app:profile' %}"><img class="rounded-circle" src="/media/{{ user.user_profile.profilepic}}" width="40px" height="45px"
                    style="margin-top: 20px; position: relative; margin-left: 10px;"></a>
  {% else %}
   <a href="{% url 'login_app:profile' %}"><img src="/media/profile_pic/default7.jpg" width="40px" height="45px" class="rounded-circle"
                    style="margin-top: 20px; position: relative; margin-left:10px;"></a>
  {% endif %}
  </li>
</ul>
<form class="form-inline my-2 my-lg-0" method="GET">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
</form>
  </div>
</nav>
<div class="container">
{% block navcontent %}

{% endblock %}
</div>

</body>
</html>
